.Leading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-box {
    flex: 1
}

.image-box img {
    width: 70%;
    height: auto;
    display: block
}

.title {
    margin: 0 0 18px;
    font-weight: bold;
    font-size: 70px;
    letter-spacing: 1px;
    color: black;
}

.underline {
    width: 140px;
    height: 4px;
    background-color: black;
    margin: 0 auto 28px;
    border-radius: 2px;
}

.para {
    margin: 0 auto;
    max-width: 760px;
    font-size: 25px;
    line-height: 2;
    color: gray;
    text-align: center;
}

.btn {
    padding: 35px 50px;
    border: 3px solid #458ff6;
    background: transparent;
    color: #458ff6;
    border-radius: 73px;
    cursor: pointer;
}